<!-- distance.html -->
{% extends "core/base.html" %}

{% block page_header %}Search For Properties{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col">
        <form action="." method="get"> 
            {{ form.as_p }}
            <input type="submit" value="Find the properties nearest you."/>
        </form>
    </div>
    <div class="col">
        {% for i in result %}
            <p><a href="{% url 'properties:detail' i.pk %}"><a/></p>
        {% endfor %}
    </div>
</div>
{% endblock content %} 