<!-- lookup.html -->
{% extends "core/base.html" %}

{% block page_header %}Search Properties{% endblock page_header %}

{% block content %}
<div class="row">
    <div class="col">
        <form action="." method="get"> 
            {{ form.as_p }}
            <input type="submit" value="Search for Properties"/>
        </form>
    </div>
    <div class="col">
        {% for i in searches %}
            <p> >{{ property.prop_type }} <!--- <a href="{% url 'properties:detail' i.pk %}">{{i.pk}}<a/> ---></p>
        {% endfor %}
    </div>
</div>
{% endblock content %}